:host {
  max-width: 1200px;
  justify-content: space-evenly;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  position: relative;

  form {
width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  input{
    flex-grow: 1;
  }
  }

}
