<p>home works!</p>
<!--app-info-->
<!--<div class="items-container" *ngFor="let item of items">-->
  <!--<app-box [item]="item"></app-box>-->
<!--</div>-->
<!--<app-headline text="moj teksrt"></app-headline>-->
<h2>Popularne</h2>
<div class="info-container">
  <div *ngFor="let item of recommended?.data">
    <app-box [item]="item"></app-box>
   </div>
</div>
