<div class="header-container">
  <a class="" routerLinkActive="active" routerLink='kgw'>
    <img style="max-width: 150px" src="././assets/img/logooryginal.png/"/>
  </a>
  <app-menu [items]="menu"></app-menu>
  <!--app-search-->
  <div>zajerestruj sie</div>


</div>
