//host to do app
:host {
  background: grey;
  padding: 20px 0;
  display: block;

  .header-container {
    max-width: 1200px;
    justify-content: space-evenly;
    margin: 0 auto;
    display:flex;
    flex-direction: row;
    position: relative;
  }

  .register {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

  }
}


  a {
    display: inline-block;
    color: white;
    text-align: center;
    padding-left: 14px;
    text-decoration: none;
  }
