:host {
  overflow: auto;
  white-space: nowrap;
  display:flex;
  flex-direction: row;
  align-items: center;

  a {
    display: inline-block;
    color: white;
    text-align: center;
    padding-left: 14px;
    text-decoration: none;
  }
}

